html {
    --main-dark-color: #312E81;
    --main-lighter-color: #C7D2FE;
    --tailwind-grey: #1F2937;
    --tailwind-light-grey: #9CA3AF;
    --backgroud-grey: #F3F4F6;
    --tailwind-red: #EF4444;
    --gradient: linear-gradient(90deg, rgba(236,72,153,1) 0%, rgba(99,102,241,1) 100%);
    --gradient-vertical: linear-gradient(180deg, rgba(236,72,153,1) 0%, rgba(99,102,241,1) 100%);
    --tailwind-pink: rgb(236,72,153);
}
  
body {
    font-family: 'Nunito Sans', sans-serif;
}

#logo {
    background: var(--gradient-vertical);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 19pt;
    font-weight: 900;
}

#burger-menu {
    display: none;
}

.menu-item {
    text-transform: uppercase;
    color: var(--tailwind-grey);
    font-weight: 700;
    font-size: 9pt;
    padding: 0.25em;
    padding-right: 3em;
    margin-left: 2.5em;
}

.menu-item-highlighted, .menu-item:hover {
    border-bottom: 4px solid var(--main-dark-color);
    transition: all 0.1s linear;
}

.button {
    border-radius: 1em;
    border: 0;
    color: white;
    text-transform: uppercase;
    padding: 0.7em 3.6em;
    background: var(--tailwind-pink);
    background: var(--gradient);
    font-weight: 700;
}

.button:focus {
    border-radius: 1em;
    border: 0;
    color: white;
    text-transform: uppercase;
    padding: 0.7em 3.6em;
    background: var(--tailwind-pink);
    background: var(--gradient);
    font-weight: 700;
}

#page-1 {
   padding: 3em 0em;
   background: #251f68 url(../images/back_1.jpg);
}

#page-1-content {
    max-width: 1100px;
    margin:auto;
    padding: 0em 2em;
}

h1 {
    color: white;
    font-size: 30pt;
    font-weight: 800;
    text-align: center;
}

h2 {
    font-weight: 800;
    font-size: 22pt;
    color: var(--tailwind-grey);
}

p {
    font-size: 11pt;
}

#page-1 p {
    color: white;
    text-align: center;
}

.vertical-line-top, .vertical-line-bottom, .vertical-line-top-dark, .vertical-line-bottom-dark {
    border-left: 1px solid white;
    height: 4.5em;
}

.vertical-line-top-dark, .vertical-line-bottom-dark {
    border-color: var(--main-dark-color);
}

.circle-gradient {
    height: 80px;
    width: 80px;
    background: var(--gradient-vertical);
    border-radius: 50%;
}

#page-2 {
    padding: 3em 0em;
 }
 
#page-2-content {
    max-width: 550px;
    padding: 0em 2em;
}

#page-3 {
    flex-wrap: wrap;
    padding: 3em 0em;
    align-items: center;
}

#page-3-content {
    padding: 0em 3em;
}

.icon-and-text {
    display: flex;
    margin: 3em 0em;
}

.icon-and-text i {
    font-size: 30pt;
    margin-right: 0.5em;
    width: 3em;
    height: 1em;
    text-align: center;
    color: var(--main-dark-color)
}

#big-image {
    background: url(../images/back_2.png);
    background-repeat: no-repeat;
}

#course-types {
    overflow-x: scroll;
    overflow-wrap: unset;
    white-space: nowrap;
    height: 60pt;
}

.desc-item {
    width: 100%;
    padding: 1em 2em;
    display: flex;
    align-items: center;
}

.desc-item i {
    font-size: 14pt;
    margin-right: 1em;
    color: var(--main-dark-color)
}

.desc-item p {
    color: var(--main-dark-color);
    font-size: 12pt;
}

#page-5 {
    background: url(../images/back_3.png);
    background-position: center;
    justify-content:right;
    display: flex;
    padding: 2em 2em;
}

#form-div h2 {
    color: white;
}

input, select, textarea {
  border: 0;
  border-bottom: 1px solid white;
  padding: 10px;
  background: none;
  color: white;
  font-size: 11pt;
}

input::placeholder {
  color: white;
}

input:focus, select:focus, textarea:focus {
  border: 0;
  outline: 0;
  background: none;
  border-bottom: 2px solid white;
}

label {
    color: white;
}

input.error:focus{
  border: 0;
  background: none;
  outline: 0;
  border-bottom: 2px solid var(--tailwind-red);
}

.error {
  border: 0;
  border-bottom: 1px solid var(--tailwind-red);
}

#right-form {
    max-width: 505px;
}

#apply-form {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

#apply-form .button {
    height: fit-content;
}

#name, #email, #experience {
    width: 15em;
    margin-right: 2em;
    margin-bottom: 3em;
}

#footer {
    background: var(--tailwind-grey);
    padding: 2em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#footer a {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 11pt;
}

#footer p {
    color: white;
    text-align: center;
    width: 100%;
}

#footer-contacts i {
    color: white;
    margin: 0em 0.5em;
    font-size: 24pt;
}

#decoration-1 {
    width: 5.6em;
    height: 4.8em;
}

#decoration-2 {
    padding-top: 2em;
    padding-left: 1em;
    margin: 0em 1em;
}

@media (max-width: 700px) {
    #page-2-content {
        max-width:none;
    }

    #nav-bar {
        display: none;
    }

    #burger-menu {
        display: inline;
    }
}